body {
    background-color: #DDFFBB;
}

.me-2 {
    background-color: #FFBF9B;
    border-radius: 100%;
    border: 5px solid #DF7857;
    padding: 8px;
    display: inline-block;
}

.p-5, .py-5 {
    background-color: #c6e4a9;
}

.fs-4 {
    margin-top: 15px;
}

.btn {
    color: white;
    background-color: #DF7857;
    border-color: #DF7857;
    margin-right: 10px;
    margin-top: 8px;
    display: inline-block;
}

.btn:hover {
    background-color: #ec8968;
    border-color: #ec8968;
}

a {
    color: white;
}

.header1 {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle
}

form {
    display: inline-block;
}


